@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

pre * {
    font-size: 14px !important;
}

a[href^='https://github.com'] {
    display: none;
}

a[href^='https://twitter.com'] {
    display: none;
}

a[href="/releases"] {
    display: none;
}

#search {
    display: none;
}

nav > div > div > div:nth-child(2) {
    visibility: hidden;
}

[aria-label="E2E Testing Logo"] > img {
    height: 3.5rem !important;
}

#__layout > div > main > div > div > div > div.pt-4.pb-4.lg\:px-8.flex.flex-col.sm\:flex-row.justify-between > span {
    display: none;
}

.small-text {
    font-size: 0.8rem;
}

.fa-icon {
    display: inline-block;
    margin-left: 6px;
    font-size: 1.2rem;
}