a[href^='https://github.com'] {
    display: none;
}

a[href^='https://twitter.com'] {
    display: none;
}

a[href="/releases"] {
    display: none;
}

#__layout > div > main > div > aside > div > ul > li.mb-4.lg\:mb-0 {
    display: none;
}

#__layout > div > nav > div > div > div.flex-1.flex.justify-start.w-4\/6 {
    height: 0;
    overflow: hidden;
}

#search {
    display: none;
}

[aria-label="E2E Testing Logo"] > img {
    display: none !important;
}

[aria-label="E2E Testing Logo"]::after {
    content: '';
    background-image: url('@@/assets/img/logo-grey.png');
    background-size: cover;
    display: flex;
    width: 181px;
    height: 58px;
}

#__layout > div > main > div > div > div > div.pt-4.pb-4.lg\:px-8.flex.flex-col.sm\:flex-row.justify-between > span {
    display: none;
}